@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E7E5D9;
	
	
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) { 
	html { 
		font-size: 110%; 
	}
} 


@media only screen and (min-width: 90em) { 
	html { 
		font-size: 120%;
	
	}
} 

@media only screen and (min-width: 120em) { 
	html { 
		font-size: 130%;
	}
}


body {
  margin: 0;
  padding: 0;
}


.masthead { 
	background: transparent url("../images/masthead-b.png") repeat left center; 
	text-align: center;	
}

.title { 
	display: inline-block;
	background-color: #E7E5D9;
	color: #fff;
}

.logo {
	margin: 0 0.2em 0 0; 
	width: 1.2em; 
	vertical-align: middle;
}

.img-border { 
	border: 1px solid #000;	
}

li { 
	text-align: left;
}

.following { 
	text-align: left;
}

.box { 
	text-align: center; 
	background-color: #87714F;
	width: 19em;
	color: #fff;
	margin: 0;
	
}


.icon { 
	width: 4em; 
	margin-bottom: .5em;
}

.panel { 
	border-image: url("../images/panel-border.png") 20 20 20 20 stretch stretch; 
	border-width: 20px 20px 20px 20px; 
}



@media only screen and (min-width: 30em) { 

}

 
@media only screen and (min-width: 40em) {
	
	
	
	
} 
	
	
	
	
 
@media only screen and (min-width: 60em) { 

	

	
	
}
